.video-container {
  position: relative;
  overflow: hidden;

  .bg-dark-vader {
    position: absolute;
    background: url('images/img-char.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    bottom: -8%;
    background-size: contain;
  }

  .video-title {
    position: absolute;
    top: 50%;
    left: 25%;
    color: white;
    font-size: calc(5vw + 0.3rem);
    transform: translateY(-100%);
  }

  .samsung-logo {
    position: absolute;
    max-width: 20%;
    top: 5vw;
    left: 5vw;
  }

}

.slider {
  width: 182px;
  height: 198px;

}
