.video-container {
  position: relative;
  overflow: hidden;

  .bg-dark-vader {
    position: absolute;
    background: url('images/img-char.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    bottom: -8%;
    background-size: contain;
  }

  .video-title {
    position: absolute;
    top: 50%;
    left: 28.5%;
    color: white;
    font-size: calc(5vw + 0.3rem);
    transform: translateY(-100%);
    font-family: 'SamsungONE', 'Helvetica', Arial;
  }

  .samsung-logo {
    position: absolute;
    max-width: 20%;
    top: 5vw;
    left: 5vw;
  }

  .mini-icons {
    position: absolute;
    display: block;
    width: 15%;
    height: auto;
    bottom: 0;
    right: 0;

    img {
      display: block;
      right: 0;
    }

    .item {
      height: auto;
    }

  }

}


