.grid {
  display: grid;
  grid-template-columns: 1fr;

  video {
    width: 100%;
    z-index: -1;
    grid-column: 1;
    grid-row: 1;
  }

  .sub-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column: 1;
    grid-row: 1;
  }

  h1 {
    color: white;
    text-align: center;
    align-self: center;
    font-size: 5rem;

    grid-column: 2;
    grid-row: 1;
  }

  .logo {
    grid-column: 1;
    grid-row: 1;
  }

  img {
    max-width: 100%;
  }

  .slider {
    grid-column: 3;
    grid-row: 1;
    min-height: 0;
    min-width: 0;
    align-self: end;

    img {
      height: auto;
    }
  }

  .item {
  }

}

/* *{
min-height: 0;
min-width: 0;
} */